@using VRbit.Agendamentos.UI.Sistema.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">VRb</h1>
            </div>
            <h3>Bem vindo VRbit Agendamentos</h3>
            <p>
                Utilize seu email e senha para logar no sistema interno de agendamentos.
            </p>
            <p>Login in</p>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Senha", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <p class="text-muted text-center"><small>Não possui uma conta?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Account")">Criar uma conta</a>

                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        <small>@Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")</small>
                    </p>
                    *@
                }
            </section> 
        </div>
    </div>
</body>

</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
