@model VRbit.Agendamentos.Application.ViewModels.TipoAgendamentoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoAgendamentoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoAgendamentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
